button{
    font: 1.5rem;
    color: blue;
    background-color: rgb(239, 224, 224);
    padding: .5rem;
    border-radius: .3rem;
    
}

button:hover{
    background-color: greenyellow;
    color: blue;
    cursor: pointer;

}
h2{
    color: blue;
    text-align: center;
}
.form-input{
    border: 1px solid #ccc;
}